.navbar {
  display: flex;
  width: max-content;
  gap: 1rem;
}

.navbar li {
  display: block
}

.navbar a {
  text-decoration: none;
  color: grey;
}

.navbar a:hover {
  text-decoration: None;
  color: black;
}

.bg-img {
width: 1600px;
height: 853px;
background-image: url("https://csci571.com/hw/hw3/images/lawyer.jpg");
background-position: center;
}

.box {
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: #0c3c5d;
}

h1 {
color: white;
}

h3 {
color: white;
}

h5 {
color: #fadd15;
}

button {
background-color: #fadd15;
border: none;
}

.features-container {
display: flex;
grid-template-columns: 1fr 1fr 1fr;
}
