header {
  width: 1600px;
}

body {
  width: 1600px;
  margin: 0;
  padding: 0;
  font-family: "open_sanslight";
  line-height: 270%;
}

.navbar {
  display: flex;
  height: 130px;
}

.navbar .nav-left {
  padding-left: 190px;
  padding-top: 30px;
}

.navbar .nav-right {
  padding-left: 930px;
  padding-top: 30px;
}

.navbar li {
  display: inline-block;
}

.nav-left a {
  text-decoration: none;
  text-align: center;
  font-family: Tahoma;
  display: block;
  width: 80px;
  color: black;
}

.nav-right a {
  text-decoration: none;
  text-align: center;
  font-family: Tahoma;
  display: block;
  width: 80px;
  color: #c1c0c0;
}


.navbar a:hover {
  text-decoration: None;
  color: black;
}

#menu {
  font-size: 14pt;
  font-family: sans-serif;
}

.bg-img {
  width: 1600px;
  height: 853px;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("https://csci571.com/hw/hw3/images/lawyer.jpg");
  background-repeat: no-repeat;
}
  .empty {
    height: 160px;
  }

  .box {
    width: 340px;
    height: 445px;
    margin-left: 180px;
    padding: 35px 50px;
    background-color: #0c3c5d;
  }

  .title-container {
    margin-top: 10px;
    padding-top: 10px;
  }

h1 {
  font-size: 2.7em;
  color: white;
  font-family: "open_sanslight";
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}

h3 {
  color: white;
}

h4 {
  font-size: 14pt;
  padding-bottom: 0;
}


.subtitle {
  font-size: 13pt;
}

.subtitle2{
  font-size: 11.5pt;
  color: #fadd15;
  font-style: italic;
}


p {
  color: #383838;
  font-size: 11.2pt;
  line-height: 150%;
}

input {
  height: 30px;
  width: 300px;
  margin-top: 0;
  padding: 15px;
  border: none;
}

button {
  height: 50px;
  width: 180px;
  background-color: #fadd15;
  border: none;
  margin-top: 30px;
  padding: 15px 15px;
  font-size: 10pt;
  font-family: sans-serif;
  opacity: 1;
}

#showmenu {
  font-weight : bold ;
}

::placeholder {
  color: black;
  font-size: 1.1rem;
  opacity: 2;
}

.features-container {
  margin-top: 0;
  margin-left: 170px;
  margin-right: 170px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
}

.features {
  width: 450px;
}

.features p span{
  padding-top: 0;
  font-size: 14pt;
  color: black;
  font-weight: bold;
}

.features + .features {
  margin-left: 65px;
}

.blank {
  height: 145px;
  width: 1600px;
}

.blank2 {
  height: 115px;
  width: 1600px;
}


.footer {
  height: 160px;
  background-color: #f4f4f4;
}